@namespace m url('http://www.w3.org/1998/Math/MathML');

@font-face {
  font-family: 'KaTeX_Script';
  src: url('KaTeX_Script-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

m|math.temml {
  font-family: "Cambria Math", "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.2;
  text-indent: 0;
}

m|math.temml .script {
  font-family: "KaTeX_Script", serif;
}

m|math.temml .oldstylenums {
  font-family: Cambria, "Times New Roman", serif;
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: 'onum';
}
