@media print {
  
#title, nav, header, #slogan, #editor, #content, #copyright, .hidden {
  display: none;
}

@page   {
  margin: 16mm 18mm 16mm 18mm;
}
img     { max-width: 100%; }
ul, img { page-break-inside: avoid; }

body {
  background: #fff;
  color: #000;
}

th    { break-inside: avoid; }

}

