@media print {
  
#title, nav, header, #slogan, #copyright, .ProseMirror-menubar, .hidden {
  display: none;
}

h1      { break-before: page; }
#editor { border: none; }
@page   { margin: 16mm 20mm 16mm 20mm; }
img     { max-width: 100%; }
ul, img { page-break-inside: avoid; }

body {
  font-family: "Times New Roman", serif;
  font-size: 10pt;
  background: #fff;
  color: #000;
}

thead { display: table-header-group; }
thead table p { line-height: 1.6; margin: 2px 0 2px 0; }
tfoot { display: table-footer-group; }
th    { break-inside: avoid; }

}

