* { margin:0; padding:0; }  /* reset */

html {
  background: black;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0 0 5px;
  line-height: 1.45;
  background: white;
  font-family: Calibri, 'Helvetica Neue', Arial, Cambria, sans-serif;
  font-size: 12pt;
  position: relative;
}

nav {
  max-width: 780px;
  margin: 0 auto;
  background: #fff;
  font-size: 14px;
  height: 66px
}

nav * {
  font-family: Arial, sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav ul li {
  display: inline-block;
  padding-top: 27px;
  text-decoration: none
}

nav  a {
  padding: 33px 0 0 18px;
  text-decoration: none;
  color: inherit;
}

article, #title {
  max-width: 780px;
  margin: 0 auto;
}

code {
  padding: .125rem .3125rem .0625rem;
  background-color: #e6e6e6;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-weight: 400;
  color: #0a0a0a;
}

pre {
  padding: 10px;
}

pre code {
  background-color: #f6f8fa;
  font-weight: normal;
  font-size: 0.9em;
}

h1, h2, h3, h5 {
  font-family: Verdana, sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin: 1em 0 1em 0;
}
			 
h1 { font-size: 120%; margin-top: 3em; }
h2 { font-size: 105%; margin-top: 2em; }
h3 { font-size: 100%; margin-top: 1em; }
h4 { font-size: 100%; margin: 1em 0 1em 0; font-weight: bold; }
h5 { font-size: 110%; text-align: center; }
h6 { font-size: 90%; font-weight: bold;  margin: 1em 0 1em 0; }

#title {
  font-family: Tahoma, Calibri, san-serif;
  font-weight: bold;
  font-size: 32px;
  padding: 12px 3px 0;
}

#slogan {
  font-family: Bahnschrift, Calibri, san-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 3px 30px;
}

strong { font-weight: bold; }

article {
  padding: 10px 3px 100px;
}

#print-table {
  font-size: 12pt;
}

#copyright {
  max-width: 780px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-align: center;
}

#copyright a {
  color: inherit;
}

/* A header for printed documents */
@media screen {
  #print-table { display: none; }
}
table #print-table { border-collapse: collapse; width: 780px; }
#header table p { line-height: 1.6; margin: 2px 0 2px 0; }
th {
  font-weight: normal;
  text-align:left;
  padding: 3px;
  min-height: 1em;
}
.header-rule { border-bottom: 2px solid black; }
th p { line-height: 1.6; }

.inline {
  display: inline;
}
.right {
  display: block;
  float: right
}
.left {
  display: block;
  float: left
}
.center {
  display: block;
  margin: 0 auto;
}

.hidden {
  color: gray;
}

.ProseMirror-prompt input[type="radio"] {
  margin-left: 8px;
}

.ProseMirror-prompt label {
  margin-left: 2px;
}

.chart-container {
  display: inline-block;
  position: relative;
}
